networks:
  appnet:
    driver: bridge

volumes:
  ollama-data:


services:
  fastapi:
    build:
      context: ./server/FastAPI
    ports:
      - "8000:8000"
    environment:
      OLLAMA_HOST: http://rust-api:8080
    depends_on:
      - rust-api
    networks:
      - appnet

  rust-api:
    build:
      context: ./server/RUST_TAURI/ollama_server
    ports:
      - "8080:8080"
    environment:
      OLLAMA_HOST: http://ollama:11434
    depends_on:
      - ollama
    networks:
      - appnet
    volumes:
      - ./server/RUST_TAURI/ollama_server/topics.txt:/app/topics.txt

  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    networks:
      - appnet
    volumes:
      - ollama-data:/root/.ollama
      - ./start-ollama.sh:/start-ollama.sh
    entrypoint: [ "/start-ollama.sh" ]
